@media screen and (max-width:1200px) {
  header {
    
  position: absolute;
  width: 100%;
  height: auto;
  }
  header div.inner {
    
  flex-direction: row;
  padding-left: 20px;
  padding-right: 20px;
  }
  header .inner ul.gnb, header .inner ul.tnb {
    display: none;
  }
  header .inner ul.enb {
    
  /*! right: 10px; */
  position: static;
  }
  
}

@media screen and (max-width:768px) {
  body {
    
  padding-left: 0;
  }
  header {
    
  position: absolute;
  width: 100%;
  height: auto;
  }
  header div.inner {
    
  flex-direction: row;
  padding-left: 20px;
  padding-right: 20px;
  }
  header .inner ul.gnb, header .inner ul.tnb {
    display: none;
  }
  header .inner ul.enb {
    
  /*! right: 10px; */
  position: static;
  }
/*  타이틀  */
  #title {
    
  min-height: 20.20833333333333vw;
  }
  #title::before {
    
  width: 78.54166666666667vw;
  height: 20.20833333333333vw;
  }
  #title ul.hash {
    column-gap: 20px;
  }
  #title form.search {
    
  width: 36.45833333333333vw;
  min-width: 400px;
  }
/*  빙그레맛  */
  #taste .inner ul.list {
    
  }
  #taste .inner ul.list li {
  
  width: calc((100% / 2) - (50px / 2));
  }
/*  브랜드샵  */
  #shop::before {
    display: none;
  }
  #shop .inner ul.list {
    
  flex-wrap: wrap;
  }
  #shop .inner ul.list li {
    
  width: calc(100% / 2 - 10px);
  }
/*  커뮤니티  */
  #community .inner {
    
  width: 100%;
  }
  #community .inner > article {
  background-size: 100px;
  background-position: right;  
  width: 90%;
  }
  #community .inner div article ul {
    
  flex-direction: column;
  }
  #community .inner div article ul li {
    
  width: 100%;
  line-height: 2;
  }
  #community .inner div {
    
  gap: 20px;
  padding: 30px 15px;
  }
  #community .inner div article ul li a {
    
  padding: 20px 10px;
  }
  #community .inner div article:not(.faq) {
    
  width: 100%;
  background-size: 70px;
  }
/*  footer  */
  footer .inner .left address {
    
  transform: translateY(0px);
  width: 100%;
  }
  footer .inner .left {
    
  }
  footer .inner .right {
    
  }
  footer .inner .right .bottom {
    
  justify-content: space-between;
  }
}